<div class="row">
    <div class="col"></div>
    <div class="col-10">
    <h1 style="color:white"> Business Contact List</h1>
        <!-- Table goes here-->
      <div class="col border border-bottom rounded-lg bg-light">
        <table class="table" style= "margin-top:50px;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Contact Number</th>
              </tr>
            </thead>
            <tbody>

                <!-- Repeatable Row Template-->
                
                <% for(let count = 0; count < contact.length; count++) { %>

                <tr>
                    <th scope="row"><%= count + 1 %></th>
                    <td><%= contact[count].FullName %></td>
                    <td><%= contact[count].EmailAddress %></td>
                    <td><%= contact[count].ContactNumber %></td>
                      <td class="text-center"><a href="/contact-list/edit<%= contact[count]._id %>" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i> Update</a></td>
                      
                    
                </tr>

              <% } %>

            </tbody>
          </table>
      </div>    
    </div>
  <div class="col"></div>  
</div>
