<div class="row justify-content-lg-center g-3">

    <form method = "POST" class="col-lg-6 col-md-10 col-sm-10">
      <h3 style="color:white"> Update Business Contact </h3>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-name">First Name</span>
            <input type="text" class="form-control" placeholder="Enter First Name" aria-label="First Name" aria-describedby="First Name"
            name="FirstName" value="<%= contact.FirstName %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-name">Last Name</span>
            <input type="text" class="form-control" placeholder="Enter Last Name" aria-label="Last Name" aria-describedby="Last Name"
            name="LastName" value="<%= contact.LastName %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-name">Email Address</span>
            <input type="text" class="form-control" placeholder="Enter Email Address" aria-label="Email Address" aria-describedby="Email Address"
            name="EmailAddress" value="<%= contact.EmailAddress %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-name">Contact Number</span>
            <input type="text" class="form-control" placeholder="Enter Contact Number" aria-label="Contact number" aria-describedby="Contact number"
            name="ContactNumber" value="<%= contact.ContactNumber %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-name">Company</span>
            <input type="text" class="form-control" placeholder="Enter Company Name" aria-label="Company" aria-describedby="Company"
            name="Company" value="<%= contact.Company %>" required>
        </div>

          <button type="submit" class="btn btn-primary" id="editButton"><i class="fas fa-edit fa-lg"></i> Update</button>
          <td class="text-center"><a href="/contact-list/delete/" class="btn btn-danger btn-sm delete"><i class="fas fa-trash-alt fa-sm"></i> Delete</a></td>
          <a href="/contact-list" id="cancelButton" type="button" class="btn btn-warning"><i class="fas fa-undo"></i> Cancel</a>
    </form>
</div>